name: Terraform Checkov Scan           # workflow name

######## IMPORTANT #########  
# .checkov.yml -> This file contains "Checkov Findings" that you want to skip. Can be seen as a "risk acceptance file"

# Variables to set:
# type - must be set - what type of scan, [SCA, SAST, DAST, IAC]
# language - Must be set of the code must be set to know which Scanning Type / File will be used
# project_dir - Must be set to knw know which Directory to scan, " ./ " will be the default. 
# environment - Must be set to know if the pipeline should stop or continue on error - non-prod has 'continue-on-error: true' all other environments will be stopped if the scans give an error.
# non-prod has 'continue-on-error: true' all other environments will be stopped if the scans give an error-code that is not "0" !!!

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
   - cron: '0 3 * * 3'   # Wednesday at 03:00 UTC

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  IAC-GH-Actions-Workflow:
    uses: marekboodt/Security-Scanning-Repo/.github/workflows/40-iac-github-action-workflow.yml@main
    with:
      language: terraform
      project_dir: ./
      # non-prod has 'continue-on-error: true' all other environments will be stopped if the scans give an error.
      environment: non-prod
      
  IAC-Custom-Workflow:
    uses: marekboodt/Security-Scanning-Repo/.github/workflows/41-iac-custom-workflow.yml@main
    with:
      language: terraform
      project_dir: ./
      # non-prod has 'continue-on-error: true' all other environments will be stopped if the scans give an error.
      environment: non-prod

