name: Terraform Checkov Scan           # workflow name

######## IMPORTANT #########  
# .checkov.yml -> This file contains "Checkov Findings" that you want to skip. Can be seen as a "risk acceptance file"

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
   - cron: '0 3 * * 3'   # Wednesday at 03:00 UTC

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  IAC-GH-Actions-Workflow:
    uses: marekboodt/Security-Scanning-Repo/.github/workflows/40-iac-github-action-workflow.yml@v1
    with:
      language: terraform
      project_dir: ./
      environment: non-prod
      
  IAC-Custom-Workflow:
    uses: marekboodt/Security-Scanning-Repo/.github/workflows/41-iac-custom-workflow.yml@v1
    with:
      language: terraform
      project_dir: ./
      environment: non-prod

